.logo {
  display: inline-block;
  width: 54px;
  height: 64px;
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  text-indent: -99999px;

  @media (max-width: $screen-tablet) {
    width: 40px;
    height: 47px;
    background-size: 100%;
  }
}
