.notification {
  position: fixed;
  top: 30px;
  right: 20px;
  padding: 10px;
  color: $white;
  z-index: 9;

  &--success {
    background: $primary-light-color;
  }

  &--error {
    background: $error-color;
  }

  @media (max-width: $screen-tablet) {
    top: 0;
    left: 0;
    width: 100%;
  }
}
