.button {
  padding: 5px 9px;
  transition: background .1s linear;
  border: 1px solid $primary-color;
  background: $primary-color;
  color: $white;
  cursor: pointer;

  &:hover {
    background: transparent;
    color: lighten($primary-color, 15);
  }

  &--message {
    margin: 0 25px;
  }
}
