.nav {
  width: 100px;
  height: 100%;
  border-right: 1px solid $border-color;

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-item {
    margin-bottom: 10px;
  }

  &-link {
    padding: 10px 0;
    display: block;
    text-align: center;
  }

  &-icon.fa {
    display: block;
    margin-bottom: 5px;
  }
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
}
