$link-color: #28a6da;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.container {
  padding: 0 15px;
  flex: 1;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: lighten($link-color, 15);
  }
}
