$primary-color: #0e376f;
$primary-light-color: #3a6ba5;
$secondary-color: #f99f00;
$secondary-light-color: #f9d401;
$success-color: #7add30;
$error-color: #fc433a;
$light-grey: #fdfdfd;
$white: #fff;
$black: #000;
$border-color: #ccc;
$link-color: $primary-color;
