extends base

block content
  //- .filter
  //-   li.filter-item
  //-     | Delete
  //-   li.filter-item
  //-     | Mark star
  //-   li.filter-item
  //-     | Delete
  //- .letter-list
  //-   .letter-item
  //-     input(type="checkbox")
  //-     | Some title of letter
  //-     | Message body
